
		<!-- Global Footer -->
		<footer class="global" id="globalfooter">
			Footer
		</footer>
	</div> <!-- // # main container -->
{{!--
	<script data-main="{{assets}}/js/_config.js" src="{{assets}}/lib/requirejs/require.js"></script>

	<script src="{{assets}}/js/min/app.min.js?v={{global.assetVer}}"></script>
 --}}
</body>
</html>
